<meta property="og:type" content="website">
<meta property="og:site_name" content="CoreProject">
<meta property="og:locale" content="en_US">
<meta property="og:title" content="{{ title }}">
<meta name="twitter:title" content="{{ title }}" />
<meta property="og:url" content="{{ request.path }}>
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
<meta name="twitter:description" content="{{ description }}" />
<meta name="keywords" content="{{ keywords }}"/>
